*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: red;
    width: 100%;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

main {
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
}

.ball {
    background-color: yellow;
}